.card {
    background-color: #ffffff;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.open-border{
    border-top:4px solid #00A96E;
}
.close-border{
    border-top:4px solid #A855F7;
}
/* Header section (Icon & Priority) */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 12px 24px;
}
.icon-circle {
    width: 38px;
    height: 38px;
    background-color: #bfbbc4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
}
.priority-badge {
    
    padding: 5px 32px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.priority_high{
    background-color: #FEECEC;
    color: #EF4444;
}
.priority_medium{
    background-color: #FFF6D1;
    color: #F59E0B;
}
.priority_low{
    background-color: #EEEFF2;
    color: #9CA3AF;
}
/* Body content */
.card-body {
    padding: 12px 24px 24px 24px;
}
.card-title {
    font-size: 22px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 12px;
    line-height: 1.2;
}
.card-desc {
    font-size: 16px;
    color: #64748b;
    margin-bottom: 22px;
    line-height: 1.4;
}
/* Tag section */
.tag-enhancement {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #1863c471;
    color: #ffffff;
    border: 1px solid #FECACA;
}

.tag-enhancement-bug{
    background-color: #FEECEC;
    color: #EF4444;
    border: 1px solid #FECACA;
}
.tag-enhancement-help{
    background-color: #FDE68A;
    color: #D97706;
    border: 1px solid #FFF8DB;
}
.tag-enhancement-inhance{
    background-color: #DEFCE8;
    color: #00A96E;
    border: 1px solid #BBF7D0;
}
.sparkle-icon {
    margin-right: 6px;
    font-size: 16px;
}
.hidden{
    display: none;
}
/* Footer section */
.card-footer {
    padding: 24px;
    border-top: 1px solid #f1f5f9;
}
.footer-text {
    color: #64748b;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer-date {
    color: #64748b;
    font-size: 16px;
    font-weight: 500;
}

/* মোডাল বক্সের কোণা গোল করার জন্য */
.modal-box {
    border-radius: 24px !important;
}

/* শ্যাডো এবং টেক্সট স্টাইল */
#detail-container h1 {
    letter-spacing: -0.5px;
}

.priority-pill {
    display: inline-block;
    min-width: 80px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(239, 68, 68, 0.2); /* High priority shadow */
}



